html, body {
    font-size: 16px;
    height: 100%;
   /* background-color:#89C1DC;*/
}

/* STYLE FOR NAV BAR USED ON ALL PAGES*/

.navbar-fixed-top-black{
    margin: 0px auto;
    padding: 0px;
    display:block;
    width: 72%;
    height: 56px;
    overflow: hidden;
    justify-content: center; 
    text-align: center;
    position: relative;
    top: 0;
    font-family: 'Archivo Narrow';
    border-bottom: 1px solid black;
}

.navbar-fixed-top-black ul {
    justify-content: center;    
    margin-left: auto;
    margin-right: auto;
    
}
.navbar-fixed-top-black li{
    padding: 0px 72px;
    /* this puts all options in a singular row*/
    display: inline;
}

.navbar-fixed-top-black a {
    color:black;
    text-decoration: none; 
}

.navbar-fixed-top-black a:hover {
    text-decoration: underline;
}


.main {
    padding-top: 80px;
    width: 70%;
    margin: 0px auto;
}

/* MARY-ELIZABETH VOSS font & position*/
h1 {
    margin: auto 0;
    font-family: 'Bebas Neue';
    font-size: 96px;
    text-align: center;
    padding-bottom: 84px;
}

/* HI, into font & position*/
.hiii {
    font-family: 'Archivo Narrow';
    font-size: 24px;
    text-align: center;
}

.colour {
    font-style: bold;
    color: #0B5394;
}

@media only screen and (min-width: 1232px) and (max-width: 1400px) {
    .navbar-fixed-top-black{
        width: 80%;
    }
    .navbar-fixed-top-black li{
        padding: 0px 72px;
    }
}

@media only screen and (min-width: 1097px) and (max-width: 1231px) {
    .navbar-fixed-top-black{
        width: 95%;
    }
    .navbar-fixed-top-black li{
        padding: 0px 72px;
    }
}

@media only screen and (min-width: 990px) and (max-width: 1096px) {
    .navbar-fixed-top-black{
        width: 100%;
    }
    .navbar-fixed-top-black li{
        padding: 0px 72px;
    }
    a{
        font-size: 1rem;
    }
}

@media only screen and (min-width: 870px) and (max-width: 989px) {
    .navbar-fixed-top-black{
        width: 100%;
    }
    .navbar-fixed-top-black li{
        padding: 0px 60px;
    }
    h1 {
        font-size: 72px;
        width: 80%;
    }
    a{
        font-size: 1rem;
    }
    .hiii{
        font-size: 1.15rem;
    }
    .main{
        width: 80%;
        margin: 0px auto;
    }
}

@media only screen and (min-width: 660px) and (max-width: 869px) {
    .navbar-fixed-top-black{
        width: 100%;
    }
    .navbar-fixed-top-black li{
        padding: 0px 40px;
    }
    h1 {
        font-size: 72px;
        width: 80%;
    }
    a{
        font-size: 1rem;
    }
    .hiii{
        font-size: 1.15rem;
    }
    .main{
        width: 80%;
        margin: 0px auto;
    }
}

@media only screen and (min-width: 400px) and (max-width: 659px) {
    .navbar-fixed-top-black{
        width: 100%;
    }
    .navbar-fixed-top-black li{
        padding: 0px 10px;
    }
    a {
        font-size: 1rem;
    }
    h1 {
        font-size: 60px;
    }
    .hiii{
        font-size: 1rem;
    }
    .main{
        width: 90%;
        margin: 0px auto;
    }
 
}

@media only screen and (max-width: 399px) {
    .navbar-fixed-top-black{
        width: 100%;
    }
    .navbar-fixed-top-black li{
        padding: 0px 5px;
    }
    a {
        font-size: 1rem;
    }
    h1 {
        font-size: 48px;
    }
    .hiii{
        font-size: 1rem;
    }
    .main{
        width: 90%;
        margin: 0px auto;
    }

}