html, body {
    font-size: 16px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #3C4142;
}


.navbar-fixed-top-black{
    margin: 0px auto;
    padding: 0px;
    display:block;
    width: 72%;
    height: 56px;
    overflow: hidden;
    justify-content: center; 
    text-align: center;
    position: relative;
    top: 0;
    font-family: 'Archivo Narrow';
    border-bottom: 1px solid black;
}

.navbar-fixed-top-black ul {
    justify-content: center;    
    margin-left: auto;
    margin-right: auto;
    
}
.navbar-fixed-top-black li{
    padding: 0px 72px;
    /* this puts all options in a singular row*/
    display: inline;
}

.navbar-fixed-top-black a {
    color:black;
    text-decoration: none; 
}

.navbar-fixed-top-black a:hover {
    text-decoration: underline;
}


.code_used {
    background-color: #e6f3d8;
    color: green;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

/* sizing for all content below nav */
.content{
    width: 70%;
    margin: 0px auto;
}

h1 {
    margin: auto 0;
    font-family: 'Bebas Neue';
    font-size: 3rem;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

/* about 40px between h1 and h2, not sure why, might need to put them in a sole container */
h2 {
    font-family: 'Bebas Neue';
    font-size: 1.5rem;
    color: #0B5394;
   
}

/*spacing between sections & paragrphs */

#questionone /* first line under title heading */ {
    padding-top: 0px;
}

#probsoltwo{
    padding-top: 45px;
}

.formula {
    text-indent: 75px;

}

.sect /*main section headings 1,2,etc*/ {
    font-size: 1.15rem;
    margin-top: 42px;
    color: #3d85c6;
}

/*graph images */

.split {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;
}

img {
    width: 100%;
    margin: auto;
    display: block;
    border: 1px solid gray;
    
}

.right {
    width: 45%;
}

.left {
    width: 45%;
}

/* graph caption */ 
.graphcap {
    font-size: .9rem;
    text-align: center;
}

#rightside {
    float: right;
}


/*spacing betweeen graphs, images & text paragraphs*/


.underimage {
    padding-top: 30px;
}



/* bold and line spacingwithin paragraphs*/
.bold {
    font-weight: bold;
}

.ital {
    font-style: italic;
 
}

.text {
    line-height: 1.75;
}



/* padding at the bottom of the page */
.appendix {
    padding-bottom: 80px;
}



/*design for tables*/

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 36px;
}

td, th{
    padding: 10px 20px;
    border: 2px solid black;
    text-align: center;
}

.tablecap {
    margin-top: 40px;
}


.borderonly {
    border: 1px solid black;
}


.nolines{
    padding: 10px 20px;
    border: 0px;
    text-align: center;
}

.leftside {
    text-align: left;
}

.dashes {
    border-top: 1.5px dashed black;
    border-bottom: 0px;
    border-right:0px;
    border-left: 0px;
}


@media only screen and (min-width: 1440px) {
    /* adjusts for larger than a typical laptop screen */
    .content {
        width: 60%;
    }
    .split {
        width: 90%;
    }
  
}


/* SMALLER */

@media only screen and (min-width: 1232px) and (max-width: 1400px) {
    .navbar-fixed-top-black{
        width: 80%;
    }
    .navbar-fixed-top-black li{
        padding: 0px 72px;
    }
}

@media only screen and (min-width: 1097px) and (max-width: 1231px) {
    .navbar-fixed-top-black{
        width: 95%;
    }
    .navbar-fixed-top-black li{
        padding: 0px 72px;
    }
}

@media only screen and (min-width: 990px) and (max-width: 1096px) {
    .navbar-fixed-top-black{
        width: 100%;
    }
    .navbar-fixed-top-black li{
        padding: 0px 72px;
    }
    a{
        font-size: 1rem;
    }
    .content{
        width: 75%;
    }
}

@media only screen and (min-width: 870px) and (max-width: 989px) {
    .navbar-fixed-top-black{
        width: 100%;
    }
    .navbar-fixed-top-black li{
        padding: 0px 60px;
    }
    a{
        font-size: 1rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    .content{
        width: 80%;
    }
}

@media only screen and (min-width: 660px) and (max-width: 869px) {
    .navbar-fixed-top-black{
        width: 100%;
    }
    .navbar-fixed-top-black li{
        padding: 0px 40px;
    }
    a{
        font-size: 1rem;
    }
    h1 {
        font-size: 2.25rem;
    }
    .content{
        width: 85%;
    }
    .split {
        display: flex;
        flex-direction: column;
    }
    .right {
        width: 80%;
    }
    
    .left {
        width: 80%;
    }
    table  { margin-top:  20px; display: inline-block; overflow: auto; border: 0px solid black; }
    th div { margin-top: -20px; position: absolute; }
}

@media only screen and (min-width: 400px) and (max-width: 659px) {
    .navbar-fixed-top-black{
        width: 100%;
    }
    .navbar-fixed-top-black li{
        padding: 0px 10px;
    }
    a {
        font-size: 1rem;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.35rem;
    }
    h3, .sect /*main section headings 1,2,etc*/ {
        font-size: 1rem;
    }
    .sect1, .sect2 /*section heading directly following main section heading #.x */{
        font-size: 1rem;
    }
    .sect1b, .sect2b /*section heading directly following main section heading #.x.y */{
        font-size: 1rem;
    }
    .graphcap {
        font-size: .8rem;
    }
    .content{
        width: 90%;
    }
    .split {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: space-around;
    }
    .right {
        width: 100%;
    }
    
    .left {
        width: 100%;
    }
    .formula{
        text-indent: 0px;
    }
    table  { margin-top:  20px; display: inline-block; overflow: auto; border: 0px solid black; }
    th div { margin-top: -20px; position: absolute; }
}

@media only screen and (max-width: 399px) {
    .navbar-fixed-top-black{
        width: 100%;
    }
    .navbar-fixed-top-black li{
        padding: 0px 5px;
    }
    a {
        font-size: 1rem;
    }
    h1 {
        font-size: 1.75rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    h3, .sect /*main section headings 1,2,etc*/ {
        font-size: 1rem;
    }
    .sect1, .sect2 /*section heading directly following main section heading #.x */{
        font-size: 1rem;
    }
    .sect1b, .sect2b /*section heading directly following main section heading #.x.y */{
        font-size: 1rem;
    }
    .graphcap {
        font-size: .8rem;
    }
    .content{
        width: 90%;
    }
    .split {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: space-around;
    }
    .right {
        width: 100%;
    }
    .left {
        width: 100%;
    }
    .formula{
        text-indent: 0px;
    }
    table  { margin-top:  20px; display: inline-block; overflow: auto; border: 0px solid black; }
    th div { margin-top: -20px; position: absolute; }
}


